
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main>
    <section class="container" style="max-width: 1120px; padding: 0 3rem;">
        <p class="text-danger">@ViewBag.file</p>
        <div class="d-flex justify-content-center">
            <form asp-action="Create" asp-controller="Product" class="col-12 col-md-8" enctype="multipart/form-data">
                <h2 class="mb-5">Create a product</h2>
                <div class="mb-3 col-12 col-md-6 w-100">
                    <label class="fw-medium" for="Name">Name</label>
                    <div class="">
                        <input class="form-control" type="text" name="Name" id="Name">
                    </div>
                </div>

                <div class="mb-3 col-12 col-md-6 w-100">
                    <label class="fw-medium" for="Price">Price</label>
                    <div class="">
                        <input class="form-control" type="number" name="Price" id="Price">
                    </div>
                </div>

                <div class="mb-3 col-12 col-md-6 w-100">
                    <label class="fw-medium" for="Manufacturer">Manufacturer</label>
                    <div class="">
                        <input class="form-control" type="text" name="Manufacturer" id="Manufacturer">
                    </div>
                </div>

                <div class="mb-3 col-12 col-md-6 w-100">
                    <label class="fw-medium" for="Category_Id">Category</label>
                    <div class="">
                        <select class="form-control" name="Category_Id" id="Category_Id">
                            @foreach (var category in Model)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="mb-3 col-12 col-md-6 w-100">
                    <label class="fw-medium" for="Quantity">Quantity</label>
                    <div class="">
                        <input class="form-control" type="number" name="Quantity" id="Quantity">
                    </div>
                </div>

                <div class="mb-3 col-12 col-md-6 w-100">
                    <label class="fw-medium" for="Image">Product Image</label>
                    <div class="">
                        <input class="form-control" type="file" name="Image" id="Image">
                    </div>
                </div>

                <div class="mb-3 col-12 col-md-6 w-100">
                    <label class="fw-medium" for="Description">Description</label>
                    <div class="">
                        <textarea class="form-control" name="Description" id="Description"></textarea>
                        <!-- <input class="form-control" type="text" name="Description" id="Description"> -->
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
            </form>
        </div>
    </section>
</main>
